/**
 * @name Fcatorio theme
 * @author DevilBro
 * @version 1.0.5
 * @description Allows you to use a background image without greatly altering the basic look of Discord
 * @source https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/BasicBackground/BasicBackground.theme.css
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/BasicBackground
 * @authorId 278543574059057150
 * @updateUrl https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/BasicBackground/BasicBackground.theme.css
*/

@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.css');
@import url('https://discordstyles.github.io/RadialStatus/base.css');
@import url('https://discordstyles.github.io/RadialStatus/base.css');

:root {
    --background: url('https://i.imgur.com/vizHYNM.jpg');
    --home-image: url('https://i.imgur.com/fiR8JLP.png');
    --backgroundsize: contain;
    --backgroundblur: 2px;
    --popout: transparent;
    --popoutsize: var(--backgroundsize);
    --popoutblur: 10px;
    --transparencycolor: 0,0,0;
    --accentcolor: 177,119,22;
    --backdrop: rgb(255,255,255,0.78);
    --textshadow: rgb(0,0,0,0);
    --transparencyalpha: 0.5;
    --messagetransparency: 0.4;
    --guildchanneltransparency: 0.1;
    --memberlisttransparency: 0;
    --font: 'Rubik';
    --backdropsize: var(--background-size);
    --backdropblur: 0px;
    --version1_0_5: none;
    --rs-small-spacing: 1px;
    --rs-large-spacing: 2px;
    --rs-width: 2.5px;
    --rs-avatar-shape: 50%;
    --rs-online-color: #43b581;
    --rs-idle-color: #faa61a;
    --rs-dnd-color: #f04747;
    --rs-offline-color: #636b75;
    --rs-streaming-color: #643da7;
}
